# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Unignore
!zombie
!0-sniffing
!1-dictionary_attack
rockyou.txt
user_authenticating_into_server
!0-nginx_likes_port_80
!1-debugging_made_short

# Ignore Python cache directories
__pycache__/
